/* Fuentes */
@font-face {
  font-family: 'FuenteImpact';
  src: url('../fonts/ImpactLTStd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ImpactLTStd.woff2') format('woff2'),
  url('../fonts/ImpactLTStd.woff') format('woff'),
  url('../fonts/ImpactLTStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: 'FuenteVirtualDJ';
  src: url('../fonts/VirtualDJ.eot?#iefix') format('embedded-opentype'),
  url('../fonts/VirtualDJ.woff2') format('woff2'),
  url('../fonts/VirtualDJ.woff') format('woff'),
  url('../fonts/VirtualDJ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Variables raíz */
:root {
  --Bl-svg: white;
  --Bl-background-nav: rgba(0, 0, 0, 0.863);
  --Bl-border-nav: rgb(119, 119, 119);
  --Bl-shadow-nav: rgb(59, 2, 42);
  --Bl-background-title: rgba(0, 0, 0, 0.473);
  --Bl-border-title: rgb(83, 4, 50);
  --Bl-shadow-title: rgb(2, 0, 0);
  --Bl-color-title: rgb(255, 255, 255);}
/* Palabras reservadas */
body {
  background: linear-gradient(
      to bottom,
      rgba(252, 0, 0, 0) 8vw,
      rgba(0, 0, 0, 0.999)35vw
    ),
    url(../img/photo_2024-12-18_11-58-57.jpg);
  color: var(--Bl-svg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100%;
  font-family: 'FuenteImpact', Haettenschweiler, "Arial Narrow Bold", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
h1,h2,h3,h4,h5,h6{
  user-select: none;}
  svg {
    position: relative;
    width: 200%;
    top: 40%;
    left: 30%;
    fill: white;
    max-width: 50px;
    min-width: 50px;}
/* Clases */
.boxcat {
  margin: 50px auto;
  max-width: 1200px;
  height: auto; 
  margin-top: 2vh; 
  padding: 20px; 
  border: 1px solid var(--Bl-border-title);
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 10%,
    rgba(66, 1, 58, 0.295) 90%
  );
  box-shadow: inset 0 0 30px var(--Bl-shadow-title);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--Bl-color-title);
  text-shadow: 0 0 10px black;
}

.box{
margin-top: -20px;
text-align: center;
border: 1px solid var(--Bl-border-title);
border-radius: 20px;
background: linear-gradient(
  to top,
  rgba(0, 0, 0, 0) 10%,
  rgba(54, 2, 38, 0.295) 90%
);
box-shadow: inset 0 0 30px var(--Bl-shadow-title);
}

.boxcat2{
position: relative;
width: 100%;
height: 200px;
margin-top: 30px;
scale: 0.8;
border: 1px solid var(--Bl-border-title);
border-radius: 20px;
background: linear-gradient(
  to top,
  rgba(0, 0, 0, 0) 10%,
  rgba(54, 2, 38, 0.295) 90%
);
box-shadow: inset 0 0 30px var(--Bl-shadow-title);
text-align: center;
font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-seri;
font-size: 20px;
color: var(--Bl-color-title);
text-shadow: 0 0 10px black;}

.cajasjuegos {
  width: 90%;
  max-width: 500px;
  height: 200px; 
  border: solid 2px black;
  box-shadow: 2px 2px 6px purple;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px; 
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  z-index: 1;
  overflow: hidden;
}

.cajasjuegos:hover{
  z-index: 2;
  transform: scale(1.05);
  box-shadow: 2px 2px 6px blue;
}


.cajasjuegos p {
  user-select: none;
  position: relative;
  top: 30px;
  width: 100%;
  height: 100%;
}

.cajasjuegos a{
  width: 100%;
  height: 100%;
}

.cajasjuegos:hover .frente{
  display: inline;
}

.contactos {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content:center;
  align-items: center;
  user-select: none;
  font-weight: bold;
  gap: 40px;
}


.contactos a {
  width: 200px;
  color: aliceblue;
  text-decoration-line: none;
}

.Facebook, .Whatsapp{
  transition: transform 0.3s ease;
  }
  
.Facebook{
  position: relative;
  top:-5px;
}

.Facebook p{
  margin-top:-1px;
}

.Facebook:hover, .Whatsapp:hover{
  transform:scale(1.07);
  }


.Download {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
  padding: 10px; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; 
  border: 1px solid var(--Bl-border-title);
  font-size: 16px;
}

.Download a {
  display: flex;
  align-items: center;
  gap: 10px; 
  text-decoration: none; 
  color: var(--Bl-color-title);
  font-family: 'FuenteImpact', Haettenschweiler, "Arial Narrow Bold", sans-serif;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease;
}

.Download a:hover{
  transform:scale(1.1);
}

.frente{
  display: none;
  position: relative;
  top: -50%;
  left: -38%;
  height: 120px;
  width: 100px;
  transition-property: opacity, height;
}

.kjasjuegos {
  width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
  display: flex;
  flex-flow: row wrap;
  justify-content: center; /* Centramos los elementos horizontalmente */
  gap: 20px; /* Añadimos un espacio entre los elementos */
}

.kjasjuegos a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'FuenteImpact', Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: left;
  font-size: 250%;
  text-shadow: 10px 10px 10px black;
}


.kjasjuegos p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.TextS {
  flex-basis: 10px;
}

/* ID's */
#Titulo {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 35%;
  scale: 0.8;
  border: 1px solid var(--Bl-border-title);
  border-radius: 20px;
  background-color: var(--Bl-background-title);
  box-shadow: inset 0 0 30px var(--Bl-shadow-title);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-seri;
  font-size: 20px;
  color: var(--Bl-color-title);
  text-shadow: 0 0 10px black;
}

#c1 {
  background-image: url(../img/video-game-payday-2-dallas-loading-gun-lcsno22cr7nxmv4d.jpg);
}
#c2 {
  background-image: url(../img/17913-3840x2160-desktop-4k-kingdom-hearts-wallpaper-image.jpg);
}
#c3 {
  background-image: url(../img/jo89zfzqi9t51.jpg);
}

#payday{
  top:-58%;
}

#sora{
  width: 100px;
  top:-55%;
}

#Among{
  top:-58%;
}

#fotoMega {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#reglas{
  text-align: justify;
  padding-right: 20px;}

#hinfo {
  text-align:center;
}

#info a {
  text-decoration: none;
  color: blueviolet;
}

#Facebook {
  scale: 0.8;
  top: 0%;
  left: 0%;
}

#Whatsapp {
  scale: 2.7;
  top: 40%;
  left: 0%;
}

#casa{
  left: 3px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;}

#Livello_1 {
  scale: 0.3;
  top: 7%;
  left: 0%;}

#Layer_1 {
  scale: 0.5;
  top: 20%;
  left: 0%;}

#Capa_1 {
  scale: 0.5;
  top: 3%;
  left: 0%;}

#Capa_2 {
    scale: 0.5;
    top: 20%;
    left: 0%;}

  #live{
    animation:cambiocolorlive 3.5s linear infinite;
    font-size:0.7rem;
    text-align: center;
    color: blueviolet;
    font-family: "FuenteVirtualDJ", "Arial Narrow", Arial, sans-serif;}

/* Animaciones */
@keyframes cambiocolorlive{
  0% {color:red}
  33% {color:rgb(26, 102, 123)}
  86% {color:#FAAD00}
  100% {color:red}}