/* Fuentes */
@font-face {
  font-family: "FuenteImpact";
  src: url("../fonts/ImpactLTStd.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ImpactLTStd.woff2") format("woff2"),
    url("../fonts/ImpactLTStd.woff") format("woff"),
    url("../fonts/ImpactLTStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuenteVirtualDJ";
  src: url("../fonts/VirtualDJ.eot?#iefix") format("embedded-opentype"),
    url("../fonts/VirtualDJ.woff2") format("woff2"),
    url("../fonts/VirtualDJ.woff") format("woff"),
    url("../fonts/VirtualDJ.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Variables raíz */
:root {
  --Bl-svg: white;
  --Bl-background-nav: rgba(0, 0, 0, 0.863);
  --Bl-border-nav: rgb(119, 119, 119);
  --Bl-shadow-nav: rgb(59, 2, 42);
  --Bl-background-title: rgba(0, 0, 0, 0.473);
  --Bl-border-title: rgb(83, 4, 50);
  --Bl-shadow-title: rgb(2, 0, 0);
  --Bl-color-title: rgb(255, 255, 255);
}

/* Palabras reservadas */
body {
  background: linear-gradient(
      to bottom,
      rgba(252, 0, 0, 0) 37vw,
      rgba(0, 0, 0, 0.999) 37.2vw
    ),
    url(../img/EMAKILLERGAMES_Banner_nuevo_warzone.webp);
  color: var(--Bl-svg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100%;
  font-family: "FuenteImpact", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

svg {
  position: relative;
  width: 200%;
  top: 40%;
  left: 30%;
  fill: white;
  max-width: 50px;
  min-width: 50px;
}

/* Clases */
.boxcat {
  margin: 50px auto;
  max-width: 1200px;
  height: auto;
  margin-top: 2vh;
  padding: 20px;
  border: 1px solid var(--Bl-border-title);
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 10%,
    rgba(66, 1, 58, 0.295) 90%
  );
  box-shadow: inset 0 0 30px var(--Bl-shadow-title);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--Bl-color-title);
  text-shadow: 0 0 10px black;
}

.box {
  margin-top: -20px;
  text-align: center;
  border: 1px solid var(--Bl-border-title);
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 10%,
    rgba(54, 2, 38, 0.295) 90%
  );
  box-shadow: inset 0 0 30px var(--Bl-shadow-title);
  padding-left: 10px;
  padding-right: 10px;
}

.boxcat2 {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 30px;
  scale: 0.8;
  border: 1px solid var(--Bl-border-title);
  border-radius: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 10%,
    rgba(54, 2, 38, 0.295) 90%
  );
  box-shadow: inset 0 0 30px var(--Bl-shadow-title);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-seri;
  font-size: 20px;
  color: var(--Bl-color-title);
  text-shadow: 0 0 10px black;
}

.cajasjuegos {
  width: 90%;
  max-width: 500px;
  height: 200px;
  border: solid 2px #000000;
  box-shadow: 2px 2px 6px #800080;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.cajasjuegos:hover {
  z-index: 2;
  transform: scale(1.05);
  box-shadow: 2px 2px 6px #0000ff;
}

.cajasjuegos p {
  user-select: none;
  position: relative;
  top: 30px;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.cajasjuegos:hover p {
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.cajasjuegos a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
}

.cajasjuegos .fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.cajasjuegos .frente {
  display: none;
  position: absolute;
  height: 120px;
  width: 100px;
  z-index: 3;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
}

.cajasjuegos:hover .frente {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.cajasjuegos:hover .fondo {
  filter: brightness(1.2);
}

.contactos {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-weight: bold;
  gap: 40px;
}

.contactos a {
  width: 200px;
  color: aliceblue;
  text-decoration-line: none;
}

.Facebook,
.Whatsapp {
  transition: transform 0.3s ease;
}

.Facebook {
  position: relative;
  top: -5px;
}

.Facebook p {
  margin-top: -1px;
}

.Facebook p,
.Whatsapp p {
  margin-bottom: 0;
}

.Facebook:hover,
.Whatsapp:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.Download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid var(--Bl-border-title);
  box-shadow: 1px 1px 6px #800080;
  font-size: 16px;
  transition: all 0.5s ease;
}

.Download a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--Bl-color-title);
  font-family: "FuenteImpact", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  justify-content: center;
}

.Download:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 6px #ff0000;
}

.frente {
  display: none;
  position: relative;
  top: -50%;
  left: -38%;
  height: 120px;
  width: 100px;
  transition-property: opacity, height;
}

.kjasjuegos {
  width: 100%;
  /* Ocupa el 100% del ancho del contenedor padre */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* Centramos los elementos horizontalmente */
  gap: 20px;
  /* Añadimos un espacio entre los elementos */
}

.kjasjuegos a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "FuenteImpact", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: left;
  font-size: 250%;
  text-shadow: 10px 10px 10px black;
}

.kjasjuegos p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.TextS {
  flex-basis: 10px;
}

/* ID's */
#Titulo {
  width: 100%;
  height: auto;
  margin-top: 39%;
  scale: 0.8;
  border: 1px solid var(--Bl-border-title);
  border-radius: 20px;
  background-color: var(--Bl-background-title);
  box-shadow: inset 0 0 30px var(--Bl-shadow-title);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-seri;
  font-size: 20px;
  color: var(--Bl-color-title);
  text-shadow: 0 0 10px black;
  padding: 10px;
}

#c1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/video-game-payday-2-dallas-loading-gun-lcsno22cr7nxmv4d.jpg);
  background-size: cover;
  background-position: center;
}

#c1 .frente {
  top: 30%;
  left: 5%;
  animation: flotar 2s ease-in-out infinite alternate;
}

#c2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/17913-3840x2160-desktop-4k-kingdom-hearts-wallpaper-image.webp);
  background-size: cover;
  background-position: center;
}

#c2 .frente {
  top: 25%;
  left: 5%;
  width: 110px;
  height: 130px;
  animation: flotar 2.5s ease-in-out infinite alternate;
}

#c3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/jo89zfzqi9t51.webp);
  background-size: cover;
  background-position: center;
}

#c3 .frente {
  top: 35%;
  left: 8%;
  animation: flotar 3s ease-in-out infinite alternate;
}

#fotoMega {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#reglas {
  text-align: justify;
  padding-right: 20px;
}

#hinfo {
  text-align: center;
}

#info {
  letter-spacing: 0.5px;
}

#info a {
  text-decoration: none;
  color: blueviolet;
}

#Facebook {
  scale: 0.8;
  top: 0%;
  left: 0%;
}

#Whatsapp {
  scale: 2.7;
  top: 40%;
  left: 0%;
}

#casa {
  left: 3px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}

#Livello_1 {
  scale: 0.3;
  top: 7%;
  left: 0%;
}

#Layer_1 {
  scale: 0.5;
  top: 20%;
  left: 0%;
}

#Capa_1 {
  scale: 0.5;
  top: 3%;
  left: 0%;
}

#Capa_2 {
  scale: 0.5;
  top: 20%;
  left: 0%;
}

#fraseFooter {
  animation: cambioColorFraseFooter 3.5s linear infinite;
  font-size: 0.8rem;
  text-align: center;
  color: blueviolet;
  font-family: "FuenteVirtualDJ", "Arial Narrow", Arial, sans-serif;
}

/* Animaciones */
@keyframes cambioColorFraseFooter {
  0% {
    color: red;
  }

  33% {
    color: rgb(26, 102, 123);
  }

  86% {
    color: #faad00;
  }

  100% {
    color: red;
  }
}

@keyframes flotar {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-20px) rotate(3deg);
  }
}
