/* Reglas responsivas */
@media (min-width: 601px) and (max-width: 1024px) {
     #botonarriba{
        height: 30px;
        width: 30px;}
}
@media (max-width: 600px) {
 #botonarriba {
        height: 30px;
        width: 30px;}
    }
/* Palabras reservadas */
    body{
        color:#FFFFEE;
        background-color:#001723fd;
	    overflow-x:hidden;
	}
    button{
        border-radius:10px;
        border:ridge black;
        font-size:16px;
        font-weight:bold;
        transition:transform 1s;}
    h1,h2,h3,h4,h5,h6{
        text-align:center;
        transition: transform 1s;
	    user-select:none;
    }           
    h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
        transform:scale(1.15);}
    a{
        color:whitesmoke;}
    a:hover,button:hover{
        color:lightblue;
        text-decoration:none;
        transform:scale(1.15);}
    input[type=text]{
        font-weight:bold;
        border:2px outset purple;
        border-radius:10px;}
        /* Clases */
    .busqueda{
        position: fixed;
        right:10px;
        top:40px;
    }
    .juegosnuevos{
        color:purple;
        display: inline;}
    .oculto {
        display: none;
        }
        /* ID's */
    #menu{
        text-align:center;
        position:fixed;
        width: 100%;
        top:0px;
        background:black;
        line-height:40px;
        overflow-x:auto;
        white-space:nowrap;
    }
    #menu a{
        display:inline-block;
	    padding-right:5px;
        padding-left:5px;
        color:white;
        text-decoration:none;}
    #menu a:hover{
        color:lightblue;
        transform:none;
        border-right: solid 1px white;
        border-left: solid 1px white;
        background-color: rgb(49, 44, 44);
    }
    #titulo{
        margin-top:15px;
        font-family:"Comic Sans MS",Arial;}
    #caja{
        border: outset 2px white;
        border-radius: 20px;
        box-shadow: 2px 2px 6px purple;
        padding-right:10px;  
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    #botonarriba{
        height: 50px;
        width: 50px;
        border: solid 2px black;
        border-radius: 40px;
        box-shadow:2px 2px 20px black;
        background-position: center;
        background-image: url("ieaksie 009.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position:fixed;
        bottom: 5px;
        right: 10px;
        transition:transform 1s;
    }
    #botonarriba a{
        display: block;
        width: 100%;
        height: 100%;        
    }
    #botonarriba:hover{
        border-color: purple;
        transform:scale(1.15);}
    #subir{
	display:inline;
    }