
/* Reglas responsivas */
@media (min-width: 601px) and (max-width: 1024px) {
    #botonarriba{
        height: 30px;
        width: 30px;}}
@media (max-width: 600px) {
    #botonarriba {
        height: 30px;
        width: 30px;}}
/* Palabras reservadas */
    body{
        color:#FFFFEE;
        background-color:#001723fd;
	    overflow-x:hidden;}
    button{
        border-radius:10px;
        border:ridge black;
        font-size:16px;
        font-weight:bold;
        user-select: none;
        transition: transform 1s;}
    button:hover{
        transform: scale(1.10);
    }
    h1,h2,h3,h4,h5,h6{
        text-align:center;
        transition: transform 1s;
	    user-select:none;
        overflow-x:auto;}           
    h1:hover{
        transform:scale(1.15);}
    a{
        color:whitesmoke;
        text-decoration: underline 1px;}
    a:hover,button:hover{
        color:lightblue;
        text-decoration:none;
        transform:scale(1.15);}
    input[type=text], input[type=number]{
        font-weight:bold;
        border:2px outset purple;
        border-radius:10px;
		user-select:none;
		margin: 5px 5px 5px 5px;
        box-shadow: 2px 2px 10px black;}
    input[type=text]:hover, input[type=number]:hover{
        animation:cambiocolorbusqueda 0.5s linear;
        box-shadow: 2px 2px 10px purple;}
        /* Clases */
    .busqueda{
        display:flex;
		justify-content:space-evenly;
		flex-flow:row wrap;}
    .botonesbusqueda{
        display: none;}
    .botonesbusqueda:hover{
        color:black;}
    .botonelementos{
            display:flex; 
            margin: 0 auto;
            margin-bottom: 5px;
            cursor: pointer;}
    .titulostjuegos{
        overflow:hidden;
        user-select: none;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 250px;
        height: 150px;
        transition: transform 1s;}
    .titulostjuegos:hover{
        transform: scale(1.10);}
    .caja{
        border: outset 2px white;
        border-radius: 20px;
        box-shadow: 2px 2px 6px purple;
        padding-right:10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    .cajaresultados{
        display: none;
        margin-bottom: 20px;
        padding-left: 25px;
        padding-bottom: 10px;
        border: outset 2px white;
        box-shadow: 2px 2px 6px blue;
        font-weight: bolder;
        font-family: sans-serif;}
    .cajajuegosdescart{
        display: none;
        margin-bottom: 20px;
        border: outset 2px white;
        box-shadow: 2px 2px 6px red;
        font-weight: bolder;
        font-family: sans-serif;}
    .juegosnuevos{
        color:rgb(187, 16, 187);
        display: inline;
        margin-left: 20px;}
    .juegosactualizados{
        color:lightskyblue;
        display: inline;
        margin-left: 20px;}
    .oculto {
        display: none;}
        /* ID's */
    #menu{
        z-index: 50;
        text-align:center;
        position:fixed;
        width: 100%;
        top:0px;
        background:black;
        line-height:40px;
        overflow-x:auto;
        white-space:nowrap;}
    #menu a{
        display:inline-block;
	    padding-right:5px;
        padding-left:5px;
        color:white;
        text-decoration:none;}
    #menu a:hover{
        color:lightblue;
        transform:none;
        border-right: solid 1px white;
        border-left: solid 1px white;
        background-color: rgb(49, 44, 44);}
    #titulo{
        margin-top:15px;
        font-family:"Comic Sans MS",Arial;}
    #amongus h4{
        color: rgb(4, 255, 0);}
    #dutyimg{
        width: 190px;
        height: 200px;}
    #duty h4{   
        color:rgb(227, 153, 15);}
    #doki h4{
        color: rgb(235, 102, 124);}
    #FNAF h4{
            color:brown;}
    #fnf h4{
        color: lightcyan;}
    #mario h4{
        color: rgb(255, 0, 0);}
    #naruto h4{
        color: rgb(255, 180, 7);}
    #pokemon h4{
        color: rgb(195, 248, 2);}
    #sonic h4{
        color: rgba(64, 64, 244, 0.986);}
    #undertale h4{
        color: lightcyan;}
    #worms h4{
        color: rgba(242, 234, 124, 0.936);}
    #yugio h4{
        color: rgb(218, 54, 54);}
    #texto{
        display: flex;
        justify-content: center;
        align-content: center;}
    #botonarriba{
        height: 50px;
        width: 50px;
        border: solid 2px black;
        border-radius: 40px;
        box-shadow:2px 2px 20px black;
        background-position: center;
        background-image: url("ieaksie 009.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position:fixed;
        display: none;
        bottom: 5px;
        right: 10px;
        transition: transform 1s;}
    #botonarriba.show{
        display: block;}
    #botonarriba a{
        display: block;
        width: 100%;
        height: 100%;}
    #botonarriba:hover{
        border-color: purple;
        transform:scale(1.15);}
    #botoneliminatodo:hover{
        color:red;}
    #botonagregatodo:hover{
            color:blue;}
    #subir{
	    display:inline;}
        /* Animaciones */
    @keyframes cambiocolorbusqueda{
        from {box-shadow: 2px 2px 10px black;}
        to {box-shadow: 2px 2px 10px purple;}}